@main("TodoList API") {
<div class="container">
  <h1>Todo List API</h1>
  <hr/>
  <p>
    Application built with Play Framework and Skinny ORM.
    See in detail: <a href="https://github.com/skinny-framework/skinny-orm-in-play">skinny-orm-in-play</a>
  </p>
</div>
}
